@import url(https://fonts.googleapis.com/css?family=Lato:400);

body {
    background-color: #002F2F;
    color: #E6E2AF;
    height: 100%;
    margin: 0;
    padding: 0;
    text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

h3 {
    color: #A7A37E;
}

a.btn {
    color: #E6E2AF;
}

/* usuwa efekt podświetlanej ramki pola input*/
.form-control:focus,
.btn:focus, .btn:active {
    outline: none;
    border-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.input-group {
    margin: auto;
    width: 35%;
    min-width: 150px;
}

#search-input {
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}

#close-search .btn {
    background: white;
    color: #002F2F;
    height: 40px;
    width: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
}

#search-icon {

}

a {
    color: inherit;
}

a:hover,
.btn:hover,
#close-search .btn:hover {
    color: #A7A37E;
    text-decoration: none;
}

footer{
    margin-top: 1em;
}
/* ========================== paleta kolorów ==============================*/
#colorTest {
    color: #E6E2AF;
    color: #A7A37E;
    color: #EFECCA;
    color: #046380;
    color: #002F2F;
}

/* ========================= centrowanie w pionie  ===================================== */
/* Wyśrodkowanie w pionie: div musi być tak duży jak rodzic i używać table layout */
.display-table {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table
}

.display-table-cell-middle {
    display: table-cell;
    vertical-align: middle
}

/* Wyśrodkowanie w poziomie: prawy i lewy margines ustawiamy na 'auto' */
.displayed-block-center {
    display: block;
    margin: 1em auto
}
